<ion-header primary>
  <ion-toolbar>
    <ion-title>
      IPTV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let c of channels" (click)="play(c)">{{c.name}}</ion-item>
	</ion-list>



  <ion-slides pager="true" [options]="slideOpts">
      
      <ion-slide (click)="pushList('/list')">
        	<h1>Slide 1</h1>
      </ion-slide>
      
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
</ion-content>
